# Local properties
hw1-todolist/local.properties

# Build files
hw1-todolist/build/
hw1-todolist/app/build/
hw1-todolist/.gradle/

# Gradle cache
**/.gradle/
**/build/


# hw2-swapsense specific
hw2-swapsense/local.properties
hw2-swapsense/.idea/
hw2-swapsense/.cxx/
hw2-swapsense/*.iml
